/*Medidas mínimas de dispositivos*/
$min_screen_phone: 480px;
$min_screen_desktop: 1200px;

/*Colores para las secciones*/
$color_header: #fb7b54;
$color_main: #8b0404;
$color_footer: #000080;
$color_aside: #759a91;
$color_articulo: #cf98c5;
